<?xml version="1.0" encoding="utf-8"?>
<configuration>

<appSettings>
    <add key="JWT_SECRET" value="303a213ec525fbc81b9f356444b9427c1b916ebd39ce962612347bcda4905a69f841f322658a5df7366b2ddc50dbc396bd7f4036d89b974ff93fff150e1f4eb6  " />
    <add key="JWT_EXPIRES_IN" value="24h" />
  </appSettings>
  <system.webServer>
    <handlers>
      <!-- Handler for Node.js files -->
      <add name="iisnode" path="dist/server/node-build.js" verb="*" modules="iisnode" />
    </handlers>

    <defaultDocument>
      <files>
        <clear />
        <add value="dist/server/node-build.js" />
      </files>
    </defaultDocument>

    <rewrite>
      <rules>
        <!-- Static files (CSS, JS, images) -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(.*\.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot))$" />
          <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="dist/spa/{R:2}" />
        </rule>

        <!-- API routes to Node.js -->
        <rule name="ApiRoutes" stopProcessing="true">
          <match url="^api/(.*)$" />
          <action type="Rewrite" url="dist/server/node-build.js" />
        </rule>

        <!-- SPA routes - serve index.html for all other requests -->
        <rule name="SPARoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="dist/spa/index.html" />
        </rule>
                <rule name="ReverseProxyToDev" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="10.10.0.1:8080/{R:0}" />
                </rule>
      </rules>
    </rewrite>

    <iisnode watchedFiles="web.config;*.js" node_env="production" nodeProcessCountPerApplication="1" maxConcurrentRequestsPerProcess="1024" maxNamedPipeConnectionRetry="3" namedPipeConnectionRetryDelay="2000" maxNamedPipeConnectionPoolSize="512" maxNamedPipePooledConnectionAge="30000" asyncCompletionThreadCount="0" initialRequestBufferSize="4096" maxRequestBufferSize="65536" uncFileChangesPollingInterval="5000" gracefulShutdownTimeout="60000" loggingEnabled="true" logDirectory="iisnode" />

    <httpErrors existingResponse="PassThrough" />

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
    </staticContent>

  </system.webServer>
</configuration>
